In [0]:
%sql
CREATE SCHEMA IF NOT EXISTS mc_labs; 
USE mc_labs;

In [0]:
%sql
SELECT current_catalog() AS catalog, current_schema() AS schema;

In [0]:
%sql SELECT * FROM samples.nyctaxi.trips LIMIT 10;

In [0]:
%sql CREATE OR REPLACE TABLE trips_raw USING delta AS SELECT * FROM samples.nyctaxi.trips;